<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locs</key>
	<array>
		<array>
			<real>56.04809</real>
			<real>12.691428</real>
		</array>
		<array>
			<real>56.047899</real>
			<real>12.689545</real>
		</array>
	</array>
</dict>
</plist>
